<%- include("./layout/head.ejs") %>

  <div id="wrapper" class="<%=lock %> ">

    <div class="container-fluid page" >

      <div class="row">
          <div class="col-12 navbar_container"></div>
      </div>

      <div class="showcase_container">
        <%- include("./layout/new_showcase.ejs") %>
      </div>

      <div class="relative padding-2_5">
        <%- include("./layout/contact/opener.ejs") %>
        <%- include("./layout/contact/progresser.ejs") %>
        <%- include("./layout/contact/clock_visual.ejs") %>
      </div>

      <div class="footer_contact">
        <%- include("./layout/footer.ejs") %>
      </div>

    </div>

  </div>

  <div class="margin-top-small-neg">  </div>

  <script src = "./assets/js/steps_data.js"></script>

  <script src = "./assets/js/steps.js"></script>

  <%- include("./layout/end.ejs") %>
