<%- include("./layout/head.ejs") %>

  <div id="wrapper" class="<%=lock %> ">

      <div class="modal_container_toggle"></div>

      <div class="container-fluid home_page" >

        <div class="row navbar_wrapper">
            <div class="col-12 navbar_container"></div>
        </div>

        <div class="showcase_container">

          <%- include("./layout/new_showcase.ejs") %>

          <div class='margin-top-medium'>
            <%- include("./layout/home/quote_form.ejs") %>
          </div>

        </div>

      </div>

      <div class="container-fluid about_us_container">
        <%- include("./layout/home/about.ejs")  %>
        <%- include("./layout/home/new_our_clients.ejs") %>
      </div>

      <%- include("./layout/home/contact.ejs") %>

      <div class="gallery_home_container">

        <%- include("./layout/home/gallery.ejs") %>

        <div class="footer_home_container">
            <%- include("./layout/footer.ejs") %>
        </div>

      </div>

  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src = "./assets/js/submit_quote.js"></script>
<script src = "./assets/js/our_clients.js"></script>

  <%- include("./layout/end.ejs") %>
