<ul class="quote_display_container margin-top-5">

      <% var new_quotes = path == "/admin/home"  ? limited_quotes : quotes %>

      <% if (new_quotes.length < 0) {%>
          <p> No Quotes Yet..</p>
      <% }else{ %>

        <% for (let quote of quotes){%>

          <li class="quote_display_container row" quote_id = <%= quote._id %>>

              <div class="col-6">
                <p class="quote_display_text"> <%= "Name: "+quote.name %></p>
              </div>

              <div class="col-6">
                <p class="quote_display_text"> Small (qty) : <%= quote.small %></p>
              </div>

              <div class="col-6">
                <p class="quote_display_text"> Medium (qty): <%= quote.medium %></p>
              </div>

              <div class="col-6">
                <p class="quote_display_text"> Large (qty): <%= quote.large %></p>
              </div>
              <div class="col-12">
                <p class="quote_display_text"> Screens (qty): <%= quote.screens %></p>
              </div>

              <div class="col-6">
                <p class="quote_display_text"> Total: <%= quote.total %></p>
              </div>

              <div class="col-6">
                <p class="quote_display_text quote_display_text--outside"> Outside / Inside: <%= quote.outside %></p>
              </div>

              <div  class="quote_display_selector" ></div>

              <div  class="quote_display_container--favorite" quote_id = <%= quote._id %> isFav = <%= quote.isFavorite %> >
                <img class="favorite_icon" quote_id = <%= quote._id %> isFav = <%= quote.isFavorite %> src= "./../assets/images/fav.png"/>
              </div>

          </li>

        <%}%>

      <%}%>

      <% if(quotes.length > 0 && active_path == "/admin/home"){ %>

        <li class="quote_display_container--more row" >
          <div class="col-12">
            <p class="quote_display_text quote_display_text--more "> See More...</p>
          </div>
        </li>

      <%}%>

</ul>
